extends layouts/default

block content
    form(id="insert-dish" action='' method='post')
        select(form="insert-dish" name='group_id')
            option(value= -1) -- Please select dish group --
            each group_dish in group_dishes
                option(value= group_dish.id) #{group_dish.name}

        input(placeholder="dish id" id='dish-id' name='id')

        input(placeholder="dish name" id='dish-name' name='name')

        input(placeholder="image url" id='dish-image' name='url')

        input(type='radio' value='food' id='dish-type-food' name='dtype' checked)
        label(for="dish-type-food") food

        input(type='radio' value='drink' id='dish-type-drink' name='dtype')
        label(for="dish-type-drink") drink

        div(id='fbox')
            input(placeholder='price' name='fprice')
            textarea(placeholder='food start(s)' id='fstart' name='fstart')
            textarea(placeholder='food end(s)' id='fend' name='fend')

        div(id='dbox' class='invis')

            textarea(placeholder='drink size(s)' id='dsize' name='dsize')
            textarea(placeholder='drink price(s)' id='dprice' name='dprice')
        input(type='submit' value='hello' id='dish-add-submit')

    style.
        .invis{
            display:none
        }
        textarea{
            width : 200px;
            height : 100px;
        }

    script.
        function checkGroup(obj){
            var food = document.getElementById('food-box')
            var drink = document.getElementById('drink-box')
            if(obj.srcElement.value == 'food'){
                food.classList.remove('invis')
                drink.classList.add('invis')
            }
            else{
                food.classList.add('invis')
                drink.classList.remove('invis')
            }
        }
        var e = document.getElementById('dish-type-food')
        e.addEventListener('click', checkGroup)
        e = document.getElementById('dish-type-drink')
        e.addEventListener('click', checkGroup)
