extends layouts/default

block content
    h1 Login
    .login-form
        form(action='/login' method='post')
            div.form-layout
                label(for='username') Username
                input(id='username' name='username')
                label(for='password') Password 
                input(id='password' type='password' name='password')
                span
                button(type='submit') Login
        if didLoginFail 
            p.warning Wrong username or password. Try again!