:root {
  --background-color: #ede6de;
  --danger-color: #8e2a05;
  --info-color: #6c9494;
  --font-color: #0d0f12;
  --link-color: #2a4d50;
  --nav-font-color: #846434;
  --nav-background-color: #e4d9c5;
  --nav-dark-background-color: #e2c7c1;
  --tab-header-color: #846434;
  --tab-odd-row-color: #e4d9c5;
  --tab-even-row-color: #e2c7c1;
}

html {
  background-color: var(--background-color);
  margin: 10px;
}

body {
  padding: 50px;
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
  line-height: 1.6;
  color: var(--font-color);
}

main {
  margin-top: 50px;
  margin-left: 10px;
}

a {
  color: var(--link-color);
}

p.warning {
  color: var(--danger-color);
}

button {
  font-family: 'Comfortaa', cursive;
  font-size: 13px;
}

input {
  font-family: 'Comfortaa', cursive;
  font-size: 13px;
}

table {
  table-layout: fixed;
  width: min(400px, 90vw);
  border-collapse: collapse;
}

nav {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

form div.form-layout,
form div.form-group {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

form label {
  justify-self: right;
}

form input {
  justify-self: left;
}

ul.dish-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(300px, 90vw));
  gap: 50px;
  justify-content: space-around;
}

a.dish-link {
  text-decoration: none;
}

div.dish-thumbnail {
  width: 300px;
  height: 300px;
  display: flex;
  overflow: hidden;
}

div.dish-thumbnail img {
  width: 100%;
  height: 300px;
  align-self: center;
}

nav div.navbar {
  display: flex;
  height: 60px;
}

nav a {
  text-decoration: none;
  color: var(--nav-font-color);
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

nav div.navbar a {
  background-color: var(--nav-background-color);
  justify-content: center;
  width: 20vw;
}

nav div.navbar a:hover {
  background-color: var(--nav-dark-background-color);
  transition: ease-in-out 0.3s;
}

nav a.logout {
  color: var(--danger-color);
  justify-content: right;
  width: 10vw;
}

a.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'DynaPuff', cursive;
  justify-content: left;
  width: 15vw;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.login-form form button {
  display: inline;
}

.login-form form input {
  width: max(15vw, 200px);
}

.login-form form button {
  width: 100px;
}

.revenue-stat {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.revenue-stat form {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.revenue-stat form input {
  width: 150px;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

table td:first-child {
  text-align: center;
}

table td:nth-child(2) {
  text-align: right;
  padding-right: 5px;
}

table.serve-schedule td:nth-child(2) {
  text-align: center;
}

table :not(thead) tr:nth-child(odd) {
  background-color: var(--tab-odd-row-color);
}

table :not(thead) tr:nth-child(even) {
  background-color: var(--tab-even-row-color);
}

table thead {
  background-color: var(--tab-header-color);
}

.search-box {
  height: 30px;
}

.search-box form {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 5vw;
}

.add-dish-button {
  text-decoration: none;
  font-size: 14px;
  background-color: var(--info-color);
  border-radius: 5px;
  padding: 5px;
}

div.dish-info-thumbnail img {
  width: max(35vw, 300px);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span.group-pill {
  display: inline-block;
  background-color: var(--info-color);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

form.prompt {
  display: flex;
  gap: 10px;
}

form.add-dish-form div.form-group {
  margin: 10px;
}

form.add-dish-form select {
  width: 165px;
}